body {
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #151515;
  color: lightgray;
  box-sizing: border-box;
}

.head {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: slategrey;
  padding-left: 2em;
  color: aliceblue;
  font-style: italic;
}

.head-title {
  text-shadow: .2em .2em .2em #0005;
}

.neo-container {
  background-image: linear-gradient(90deg, #333, #151515);
  border-radius: .5em;
  padding: 2em;
  width: 100vw;
}

.asteroid-item-hazard {
  border: .25em solid firebrick;
  padding: 1em;
  margin: 1em;
  border-radius: .5em;  
  width: 25vw;
}

.asteroid-dist {
  margin-left: 1em;
  width: 90%;
}

.asteroid-name {
  transition: left .6s ease-in-out;
  display: flex;
  align-items: center;
  position: relative;
  top: -1em;
  left: -1.5em;
  width: 100%;
  height: 2em;
  vertical-align: middle;
  background: linear-gradient(90deg, orange, transparent);
  color: white;
  border-left: .5em solid darkorange;
  border-radius: 0 .5em;
  font-style: italic;
}
.asteroid-name:hover {
  transition: left .6s ease-in-out;
  left: -2.5em;
  cursor: pointer;
}

.asteroid-propname {
  font-weight: bold;
}

.asteroid-item-prop {
  display: flex;
  flex-flow: row;
  align-items: center;
  background: linear-gradient(90deg, dimgray, transparent);
  border-left: 1em solid #555;
  border-radius: .5em;
  padding-left: 1em;
  padding-top: .1em;
  margin: 1em;
}

.asteroid-item {
  border: .25em solid #90ee9090;
  padding: 1em;
  margin: 1em;
  border-radius: .5em;
  width: 25vw;
}

.asteroid-diameter-chart {
  width: 13vw;
  height: 13vw;
  border: .1em solid silver;
  border-radius: .25em;
}

.asteroid-data-container {
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  align-items: center;
}


.distance-meter-bg {
  z-index: 1;
  width: 100%;
  height: .6em;
  background: lightgrey;
}

.potential-hazard {
  font-size: .6em;
  background: red;
  border-radius: .25em;
}

.main-img {
  font-size: 3em;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-blend-mode: color;
  background: url('./starry-sky1.jpg'), linear-gradient(45deg, #5cf5, #29c5);
  color: #ffffffa1;
}

.main-img-shadowed {
  filter: drop-shadow(.2em .4em .25em black);
}